
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
body{
  background-color: #F5F8FF;
}
header{
    background-image:url(./Assets/background.png);
    /* height: 600px; */
    height:100vh;
    width: 100vw;
    /* max-height: 200px;
    max-height: 600px; */
    /* height:auto; */
    width: auto;
    /* width: 1280px; */
    
    
  }
  
nav {
  display: flex;
   gap: 600px;
  justify-content: center;
  align-items: center;
  height: 200px;
  }

  

.header-button-style{
   background-color:#4E47FF;
   height:30px ;
   width: 125px;
 
font-weight: bold;  
 color:white;
   padding:3px 3px;
   border-radius: 5px;
   border:none;
   text-align: center;
}
.button-style{
   background-color:#4E47FF;
   height:30px ;
   width: 150px;
   font-weight: bold;
   color:white;
   padding:3px 3px;
   border-radius: 2px;
   border:none;
   text-align: center;
}
.section-style{
  text-align: center;
  line-height: 30px;
}
.text-style-1{
font-weight: bold;
font-size: 40px;
color:#4E47FF
}
.text-style-2{
  font-size: 60px;
  font-weight: bold;
  /* height: 90px; */
  
}

.text-style-3{
  color:#434939;
}




main{
  max-width:800px;
  margin:0px auto;
}

/* section-1 */

.section-size-1{
  /* padding:50px 50px; */
  border-radius: 10px;
  margin-top:50px;  
 }

.div-style{
  display: flex;
  align-items: center;
  gap: 50px;

}
/* image size */
.image-size{
  border-radius: 10px;
}
.h2.section-1{
  font-size: 42;
  font-weight: bold;
  
}


/* section-02 */

.section-style-2{
  background-color:#615cf334;
  text-align: center;
  padding: 30px;
  border-radius: 20px;
  margin-top: 70px;

}
.section-style-22{
  display: flex;
  justify-content: space-between;
}
.p-style-2{
  font-size: 60px;
  font-weight: bolder;
}



/* section-03 */
/* not included */


 
/* section-04 */
.section-style-4{
  background-color: rgb(255, 255, 255);

  text-align: center;  
  display: inline;  
 }



 .image-size-4{
  max-width: 800px;
  max-height: 250px;
  border-radius: 10px; 
 }



 /* section-05 */
.section-style-5{
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}

.h2-section-5{
  font-weight: bold;
  font-size: 60px;

}

.section-text-5{
  text-align: start;
  font-weight: medium;
  font-size: 14px;

}
.input-style{
  height: 20px;
  width: 200px;
  text-indent: 10px;
}
.button-style-5{
   background-color:#4E47FF;
   height:28px ;
   width: 208px;
   font-weight: bold;
   color:white;
   padding:3px 3px;
   border-radius: 1px;
   border:none;
   text-align: center;
}
.textarea-size{
  height:50px;
}




footer{
  
  text-align: center;
  justify-content: center;
  padding:40px;
  margin-top: 130px;
  background-color:#ffffff ;
}

.text-style-5{
  font-size: 70px;
  color: #4E47FF;


}






ul {
  display: flex;
  height: 200px;
}

nav ul li{
    list-style:none  ;
    margin-right: 50px;  
}

nav li a{
    text-decoration: none;
    font-size: 20px;
}
